@charset "utf-8";


#headerWrap{width: 1915px;height: 1000px;}
.header{}
.header .utillMenu{width: 100%;height: 150px;background: #f6f5ef;}
.header .utillMenu .menu{width: 1260px;margin: 0 auto;line-height: 150px;}
.header .utillMenu .menu>h1{background-image: url(../images/logo.png);float: left;
	width:249px;height: 150px;text-indent:-9999px;margin: 0 70px auto;
}
.header .utillMenu .menu .mainGnb{width: 100%;margin: 0 auto;}
.header .utillMenu .menu .mainGnb>ul{}
.header .utillMenu .menu .mainGnb>ul>li{float: left;width: 210px;height: 150px;text-align: center;}

.header .utillMenu .menu .mainGnb li:hover{background: #ebe9de;}