@charset "utf-8";
/*header*/
/*#headerWrap{background: #0044af;}*/


/*headerwrap*/
#headerWrap {}
.utillMenuWrap {background: #0c71a8;}

.utillMenuWrap{background-image: url(../images/airplan.jpg);margin: auto;height: 100%;height: 87px;}
.utillMenuWrap .utillMenu{}
.utillMenuWrap .utillMenu .logo{}
.utillMenuWrap .utillMenu ul{}
.utillMenuWrap .utillMenu p{}
.utillMenuWrap .utillMenu a{}
.utillMenuWrap .utillMenu a img{}

.maingnb{width: 100%;height: 60px;background: #f9f9f9;}
.maingnb .nav{}
.maingnb .nav li{}
.maingnb .nav li a{}



/*main menu*/






/*slider*/








/*box*/











/*contents*/









/*footer*/
