@charset "utf-8";
/*header*/
/*#headerWrap{background: #0044af;}*/


/*headerwrap*/
#headerWrap {height: 150px;}

.utillMenuWrap{
	width: 100%;height: 87px;
	background: #0c71a8;background-image: url(../images/airplan.jpg);
}
.utillMenuWrap .utillMenu{width: 980px;margin: 0 auto;line-height: 88px;}
.utillMenuWrap .utillMenu .left{float: left;width: 560px;position: relative;}
.utillMenuWrap .utillMenu .left .logo{
	float: left;width: 145px;height: 50px;background-image: url(../images/logo.png);
	margin: 20px 0px auto;text-indent: -9999px;
}
.utillMenuWrap .utillMenu .left .wrap{
			position: absolute;
			width: 290px;right: 0;
		}
.wrap .searchInp{width: 290px;height:30px;
			border: 0 none; border-radius: 15px;
			text-indent: 80px;
			color:#6e7275;
			font-size: 13px; 
			font-weight: bold;
			background: #fff;
			position: relative;
		}
.wrap .searchBtn{
	width: 20px;height: 20px;
			background-image: url(../images/search.jpg);
			text-indent: -9999px; 
			border: 0 none;
			position: absolute;right: 15px;top: 35px;
		}
.wrap .searchTitle{
			width: 60px;height: 20px;
			background-image: url(../images/searchtext.jpg);
			text-indent: -9999px;
			position: absolute;
			top: 36px;left: 10px;
			z-index: 2;
		}

.utillMenuWrap .utillMenu .right{float: right;width: 340px;}
.utillMenuWrap .utillMenu .right p{float: left;font-size: 25px;font-weight: bold;color: #fff;}
.utillMenuWrap .utillMenu .right a{float: right;}
.utillMenuWrap .utillMenu .right a img{margin: 33px 0px;}




/*main gnb*/
.mainGnb{
	width: 100%;height: 65px;background-color: #f1f1f1;
	border-bottom: 6px solid #0e73a7;}
.mainGnb .nav{width: 980px;margin: auto;}
.mainGnb .nav li{
	width: 16.66666666666667%;float: left;text-align: center
	;font-size: 20px;line-height: 60px;border-left: 1px solid #e8e8e8;}
.mainGnb .nav li:last-child{border-right: 1px solid #e8e8e8;}
.mainGnb .nav li:hover{background: #0e73a7;}







/*
<div id="contentsWrap"> <!-- bgimg-구름/풍선 -->
	<div class="contents"> <!-- 큰틀 -->
		<div class="contents1"> <!--내용 큰 틀, 세가지로 나눈 것. -->
			<ul class="leftWrap">
				<li class="up">form</li>
				<li class="down">
					<ul class="france">
						<li></li>
						<li></li>
					</ul>
					<ul class="japan">
						<li></li>
						<li></li>
					</ul>
				</li>
			</ul>
			<ul class="rightWrap">
				<li>
					<h1></h1>
					<p></p>
				</li>
			</ul>
		</div>		<!-- dontents1 -->
		<div class="contents2">
			<div class="boxUp">
				<ul class="box1">
					<li></li>
					<li></li>
				</ul>
				<ul class="box2">
					<li></li>
					<li></li>
				</ul>
				<ul class="box3">
					<li></li>
					<li></li>
				</ul>
				<ul class="box4">
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="boxDown">
				<ul class="box5">
					<li></li>
					<li></li>
				</ul>
				<ul class="box6">
					<li></li>
					<li></li>
				</ul>
				<ul class="box7">
					<li></li>
					<li></li>
				</ul>
				<ul class="box8">
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>  	<!-- contents2 -->
	</div> <!-- contents -->
</div>  <!-- contentsWrap -->

*/
/**{padding: 0;margin: 0;box-sizing: border-box;}
html,body{width: 100%;height: 100%;}*/
#contentsWrap{
	position: relative;
	background-image: url(../images/bg01.jpg);
	height: 1240px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
#contentsWrap .balloon{
	position: absolute;right:450px;top: 200px;
	animation-name:bal01;
	animation-duration:1.5s;
	animation-direction:alternate;
	animation-iteration-count: infinite;
	z-index: 0;
}
@keyframes bal01{
	0%{transform: translateY(-20px);}
	100%{transform: translateY(0px);}
}

/*#contentsWrap .img00{
	position: absolute;left: 0;bottom: 0;
	animation-name: air01;
	animation-duration:5s;
	-webkit-animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	z-index: 0;
}
@keyframes air01{
	0%{left: 0;bottom: 0;}
	100%{left: 1600px;bottom: 600px;}
}
*/
#contentsWrap .contents{_background: white;width: 980px;height: 1125px;margin: auto;padding-top: 60px;}
#contentsWrap .contents .contents1{_background: green;width: 980px;height: 555px;margin-bottom: 15px;}
#contentsWrap .contents .contents1 .leftWrap{float: left;}
#contentsWrap .contents .contents1 .leftWrap li.up{
	background: white;width: 480px;height: 300px;margin-bottom: 15px;
}

#contentsWrap .contents .contents1 .leftWrap li.up ul.upSlider{width: 130px;height: 300px;position: absolute;}
#contentsWrap .contents .contents1 .leftWrap li.up ul.upSlider li{height: 25%;line-height: 75px;color:#fff;text-align: center;}
#contentsWrap .contents .contents1 .leftWrap li.up ul.upSlider li:nth-child(1){background: #006599;}
#contentsWrap .contents .contents1 .leftWrap li.up ul.upSlider li:nth-child(2){background: #006599;}
#contentsWrap .contents .contents1 .leftWrap li.up ul.upSlider li:nth-child(3){background: #0099cb;}
#contentsWrap .contents .contents1 .leftWrap li.up ul.upSlider li:nth-child(4){background: #0099cb;}

#contentsWrap .contents .contents1 .leftWrap li.up ul.upSlider li:hover{background: #fff;color:#404040;}


		fieldset{border: 0 none;}
		legend{display: block;position: absolute;left: 0;top: -9999px;}
		*{padding: 0;margin: 0;box-sizing: border-box;}
		li{list-style: none;}
		a:visited,a:link{text-decoration: none; color: black;}
		.clearfix:after{content: "";clear: both;display: block;}

		.formLayer{width: 270px;margin: 0 auto;float: right;margin-right: 40px;}
		.formLayer fieldset{margin-bottom: 10px;}
		.formLayer label{display: block;padding: 5px 0;}
		.formLayer select{
			height: 30px;width: 100%; font-size: 1em;
			text-indent: 10px;border-radius: 10px;
		}
		.formLayer .left,
		.formLayer .right,
		.formLayer .mid{float: left;width: 130px;}

		.formLayer .left{margin-right: 10px;}
		.formLayer .mid{margin-right: 10px;}

		.formLayer .num{width: 60px;margin-bottom: 20px;}


		.formLayer .left input,
		.formLayer .right input{
			width: 100%;border-radius: 10px;height: 30px;
			text-indent: 10px;font-size: 1.2em;
			border: 1px solid #aaa; font-weight: bold;
		}
		.formLayer .tBtn{
			width: 100%;height: 40px;border: 0 none; cursor: pointer;
			background:#ea4f1f; color: white; font-weight: bold;
			border-radius: 10px;_box-shadow: 3px 3px #000; transition: 0.3s;
		}

		.formLayer .tBtn:hover{transform: translate(0px,3px);_box-shadow: 0 0 #000}





#contentsWrap .contents .contents1 .leftWrap li.down{
	_background: yellow; width: 480px;height: 240px;
}

#contentsWrap .contents .contents1 .leftWrap li.down li.france{
	_background: pink;background-image: url(../images/tour01.jpg);
	float: left;width: 230px;height: 240px;position: relative;
}
#contentsWrap .contents .contents1 .leftWrap li.down li.france a{
	background: #152630;width: 230px;height: 50px;
	bottom: 0;position: absolute;
}
#contentsWrap .contents .contents1 .leftWrap li.down li.france a h4{
	position: absolute;color: #fff;font-size: 16px;margin: 15px;
}
#contentsWrap .contents .contents1 .leftWrap li.down li.france a img{float: right;margin: 18px 20px;}

/*#contentsWrap .contents .contents1 .leftWrap li.down li.france li{background: hotpink;}*/
#contentsWrap .contents .contents1 .leftWrap li.down li.japan{
	_background: skyblue;background-image: url(../images/tour02.jpg);
	float: right;width: 230px;height: 240px;position: relative;
}
#contentsWrap .contents .contents1 .leftWrap li.down li.japan a{
	background: #152630;width: 230px;height: 50px;
	bottom: 0;position: absolute;
}
#contentsWrap .contents .contents1 .leftWrap li.down li.japan a h4{
	position: absolute;color: #fff;font-size: 16px;margin: 15px;
}
#contentsWrap .contents .contents1 .leftWrap li.down li.japan a img{float: right;margin: 18px 20px;}
/*#contentsWrap .contents .contents1 .leftWrap li.down li.japan li{background: coral;}*/




#contentsWrap .contents .contents1 ul.rightWrap{
	_background:purple;width: 480px;height: 555px;float: right;
}
#contentsWrap .contents .contents1 ul.rightWrap li{
	_background: white;width: 360px;height: 160px;
	margin-left: 20px;margin-top: 20px;
}
#contentsWrap .contents .contents1 ul.rightWrap li h1{font-size: 60px;}
#contentsWrap .contents .contents1 ul.rightWrap li p{font-size: 25px;}






#contentsWrap .contents .contents2{width: 980px;height: 495px;}
#contentsWrap .contents .contents2 ul.boxWrap{}
#contentsWrap .contents .contents2 ul li{
	width: 233.75px;height: 240px;
	float: left;margin-bottom: 15px;margin-right: 15px;position: relative;
}

#contentsWrap .contents .contents2 ul li:nth-child(4),
#contentsWrap .contents .contents2 ul li:nth-child(8){margin-right: 0;}
#contentsWrap .contents .contents2 ul li a{padding: 13px 15px;}
#contentsWrap .contents .contents2 ul li h4{color:#fff;font-size: 16px;margin-bottom: 4px;}
#contentsWrap .contents .contents2 ul li p{color:#c8c8ca;font-size: 12px;}

li.box1{background-image: url(../images/tour03.jpg);}
li.box2{background-image: url(../images/tour04.jpg);}
li.box3{background-image: url(../images/tour05.jpg);}
li.box4{background-image: url(../images/tour06.jpg);}
/*li.box5{background-image: url(../images/tour07.jpg);}
li.box6{background-image: url(../images/tour08.jpg);}
li.box7{background-image: url(../images/tour09.jpg);}
li.box8{background-image: url(../images/tour10.jpg);}*/


li.box1 a{
	background: #529351;width: 233.75px;height: 65px;
	position: absolute;bottom: 0;
}
li.box2 a{
	background: #152630;width: 233.75px;height: 65px;
	position: absolute;bottom: 0;
}
li.box3 a{
	background: rgba(30,37,50,0.8);width: 233.75px;height: 65px;
	position: absolute;bottom: 0;
}
li.box4 a{
	background: #44619d;width: 233.75px;height: 65px;
	position: absolute;bottom: 0;
}




.barWrap{
	width: 40px;height: 40px;border: 3px solid #fff;
	border-radius: 50%;box-sizing: border-box;
	_background: skyblue;
	position:absolute;left: 50%;top: 50%;
	transform: translate(-50%, -50%);transition:0.3s;
	z-index: 1;
}
.barWrap .bar1, .barWrap .bar2{
	width: 25px;height: 3px;
	background-color: #fff;
	border-radius: 2px;
	position: absolute;
	left: 50%;top: 50%;transform: translate(-50%, -50%);
}
.barWrap .bar2{transform: translate(-50%, -50%) rotate(90deg);}

li.box5, li.box6, li.box7, li.box8{width: 360px;height: 160px;position: relative;overflow: hidden;}
li.box5 img, li.box6 img, li.box7 img, li.box8 img{
	position: relative;left: 50%;top: 50%;
	transform: translate(-50%, -50%) scale(1.1);transition: 0.3s;
}

li.box5 .bg, li.box6 .bg, li.box7 .bg, li.box8 .bg{
	width: 100%;height: 100%;
	position: relative;opacity:0.4;transition: 0.3s;
}

li.box5:hover img{transform: translate(-50%, -50%) scale(1.2);}
li.box5:hover .barWrap{transform: translate(-50%, -50%) scale(1.2);}
li.box5:hover .txtWrap{}
li.box5:hover .bg{opacity: 0.4;background: #9edede;}

li.box6:hover img{transform: translate(-50%, -50%) scale(1.2);}
li.box6:hover .barWrap{transform: translate(-50%, -50%) scale(1.2);}
li.box6:hover .bg{opacity: 0.4;background:#524f5a;}

li.box7:hover img{transform: translate(-50%, -50%) scale(1.2);}
li.box7:hover .barWrap{transform: translate(-50%, -50%) scale(1.2);}
li.box7:hover .bg{opacity: 0.4;background:#524f5a;}

li.box8:hover img{transform: translate(-50%, -50%) scale(1.2);}
li.box8:hover .barWrap{transform: translate(-50%, -50%) scale(1.2);}
li.box8:hover .bg{opacity: 0.4;background: #68ae92;}


/*
li.box5:hover{background: rgba(110,200,220,0.1);}
li.box8:hover{background: #68ae92;}*/



/*.contents2 .boxWrap li:hover img{transform: translate(0,0) scale(1.1);}*/
.contents2 .boxWrap li:hover .wrap{transform: translate(-50%, -50%) rotate(180deg)}
.contents2 .boxWrap li:hover .bg{opacity: 0.4;background:rgba(110,200,220,0.1);}


#footerWrap{width: 100%;height: 110px;}
#footerWrap .footer{
		width: 980px; margin: 0 auto;
		padding:30px 0; 
}
#footerWrap li{float: left;margin-bottom: 10px;padding-right:20px;}
#footerWrap li a{font-size:13px;color:#3e3e3e;font-weight: bold;}

#footerWrap p{font-size:12px;font-style:normal;color:#737373;}







/*footer*/
