@charset "utf-8";
/*header*/
/*#headerWrap{background: #0044af;}*/

/*utillmenu*/
.utillMenuWrap{background: #0044af}
.utillMenu{
	width: 1200px; margin: 0 auto;;
}
.utillMenu ul.left{float: left;}
.utillMenu ul.left li{
	float: left;width: 120px;margin-right: 2px;}
.utillMenu ul.left li a{
	line-height: 40px;display: block;
text-align: center;background: #00163b; 
color:#fff;font-weight: bold;
}
.utillMenu ul.left li a.active{background: #fff;color: #333;}

.utillMenu ul.right{float: right;}
.utillMenu ul.right li{
	float: left;color: #fff;font-size: 0.8em;
}
.utillMenu ul.right li a{
	display: block;color:#fff;
	padding: 0 10px; line-height: 40px;
}
.utillMenu ul.right li.btn_mp a{
	float: left; background: #fff;padding: 0;
	margin-right: 2px;color: #333; margin-top: 10px;
	width: 20px;line-height: 20px;text-align: center;
	font-weight: bold; text-indent: -1px;
}
.utillMenu ul.right li:first-child{line-height: 40px; padding-right: 10px;}
.utillMenu ul.right li:last-child{padding-right: 0}


/*main menu*/
.mainGnb{
	width: 1200px;margin: 0 auto;height: 300px;
	position: relative; _background: #333;
}
.mainGnb h1{
	width: 212px;height: 53px;
background-image: url(../images/main_logo.jpg); 
}
.mainGnb h1 a{display: block;line-height: 53px;text-indent: -9999px;}

.mainGnb .navWrap{width: 760px; position: absolute;right: 0;top: 31px;}
.mainGnb .navWrap ul.nav{float: left;}
.mainGnb .navWrap ul.nav li{float: left;}
.mainGnb .navWrap ul.nav li a{
	display: block; color: #464646; font-size: 1.2em;
	width: 130px;line-height: 45px;font-weight: bold;
}


.mainGnb .navWrap .btnToggle{float: right;}
.mainGnb .navWrap .btnToggle a{
	display: block;width: 45px;height: 45px;
	background-image: url(../images/toggle_btn);
	background-repeat: no-repeat;
}
.mainGnb .navWrap .btnToggle .toggle{background-position: 0 0;}
.mainGnb .navWrap .btnToggle .my{background-position: -45px 0;}





/*contents*/
#contents{
	height: 1300px;
	background-image:url(../images/00bg_dot.gif), url(../images/00main_bg01.jpg);
	background-repeat: repeat, no-repeat;
	background-position: center;
	background-size: auto,cover;
}
#contents .title{
	width: 1200px;	height: 260px;
	background: yellow;margin: auto;
	}
#contents .container{width: 1200px;margin: auto;}
#contents .container li{float: left;width: 25%;height: 225px;}

#contents .container li:nth-child(1){background: orange;width: 75%;height: 450px;}
#contents .container li:nth-child(2){background: #000;width: 25%;height: 450px;}
#contents .container li:nth-child(3){background: #fff;}
#contents .container li:nth-child(4){background: #00f;}
#contents .container li:nth-child(5){background: #0f0;}
#contents .container li:nth-child(6){background: #ff0;}
#contents .container li:nth-child(7){background: #f0f;}
#contents .container li:nth-child(8){background: #f00;width: 75%;}



.viewSlider{}
.viewSlider .sliderTxt{
	position: absolute;left: 80px;top: 80px;
	font-size: 3em;_font-weight: bold;color: #1550b6;
}
.viewSlider .sliderTxt p{margin-bottom: 30px;}
.viewSlider .sliderTxt a{
	display: block;width: 160px;line-height: 40px;
	font-size: initial;text-align: center;
	_border: 1px solid #000; background: #182c4d;
	color:white;
}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}



#contents .vrRtxt {width: 230px; height: 290px;}
#contents .container .vrRtxt p{font-size:1.2em;}




/*footer*/
footer#footer{width: 1200px; margin: auto;}
footer#footer{
	height: 200px;
}

footer#footer ul.right{}

footer#footer ul.left{float: left;width: 25%;text-align: center;background: #888;}
footer#footer .left li:nth-child(1){float: left;margin-left: 40px;background:orange;}
footer#footer .left li:nth-child(2){float: right;margin-right: 40px;background:pink;}
footer#footer ul.right{float: right;width: 75%;text-align: center;}
footer#footer .right li:nth-child(1){float: left;margin-left: 40px;}
footer#footer .right li:nth-child(2){float: right;margin-left: 40px;}